{% extends 'home/layout.html.twig' %}

    {% block content %}
        <main role="main" class="inner cover">
        <h1 class="cover-heading" align="center">Welcome to BBlog!</h1>
        <p class="lead" align="center">The future belongs to those, who believe in beauty of their dreams.</p>
        <p class="lead" align="center">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </main>
{% endblock %}