{% extends 'home/layout.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <style>
        body {
            background-color: #F5F5F5;
        }
    </style>
<div class="col-lg-8">


</div>
{% endblock %}
