{% extends 'home/layout.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <style>
        body {
            background-image: url("https://i.pinimg.com/736x/61/1e/dd/611eddafb2ae5f6f8c927efd25441fd5.jpg");
            background-color: white;
            background-attachment: fixed;
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: 500px;
        }
    </style>
<div class="col-lg-8">
    
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/TestController.php'|file_link(0) }}">src/Controller/TestController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/test/index.html.twig'|file_link(0) }}">templates/test/index.html.twig</a></code></li>
    </ul>
</div>
</div>
{% endblock %}
